html {
  box-sizing: border-box;
  font-size: 10px;
  background: #a59486;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Smokum', cursive;
  color: black;
}


h1 {
  color: black;
  text-align: center;
  font-size: 25pt;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 30px;
}


.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  font-size: 15pt;
}


.game {
  width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}


.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}


.hole:after {
  display: block;
  background: url(blackhole.png) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}


.mole {
  background: url('./snake.png') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}


.hole.up .mole {
  top: 0;
}


button {
  display: block;
  width: 100px;
  margin: 0 auto;
  font-size: 12pt;
}


h2 {
  text-align: center;
  font-size: 20pt;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  margin: 0 0 15px 0;
}


.scoretable {
  width: 350px;
  font-size: 3rem;
  margin: 10px auto;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  background-color: black;
}


li{
  list-style: none;
}


a{
  color: white;
  text-decoration: none;
}


.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;


}


.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}


.nav-title{
  font-size: 2rem;
}


.nav-link{
  transition: 0.7s ease;
  /* HOVER EFFECT */
}


.nav-link:hover{
  color: red;
}


.hamburger{
  display: none;
  cursor: pointer;
  /* CHANGE TO NONE FOR CUSTOM CURSOR */
}


.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  /* top/bottom then left/right */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: red;
  /* change to white? */
}


@media(max-width:768px){
  .hamburger{
    display: block;
  }


  .hamburger.active .bar:nth-child(2){
    opacity: 0px;


  }


  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }


  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }


  /* DROP DOWN MENU BELOW */
  .nav-menu{
    position: fixed;
    /* menu remains on screen */
    left: -100%;
    /* hide from view */
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: blue;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    /* delay display with transition */
  }


  .nav-item{
    margin: 16px 0;
  }


  .nav-menu.active{
    left: 0;
   
  }
}






























